// Variables

// Fonts
$title-font: 'Poppins', sans-serif;
$main-font: 'Roboto', sans-serif;

$font-size-main: 1.4rem;
$font-size-title: 2.4rem;

// Colors
$white: #FFF;
$background: #F8F8F8;
$primary: #835AFD;
$pink:  #E559F9;
$danger: #EA4335;

$grey-dark: #737380;
$grey-medium: #A8A8B3;
$grey-light: #DBDCDD;