// Variables

// Fonts
$title-font: 'Poppins', sans-serif;
$main-font: 'Roboto', sans-serif;

$font-size-main: 1.4rem;
$font-size-title: 2.4rem;

// Colors
$white: #FFF;
$background: #F8F8F8;
$primary: #835AFD;
$secondary: #E559F9;
$danger: #EA4335;

$background-dark: rgb(28, 30, 31);
$primary-dark: rgb(39, 2, 149);
$secondary-dark: rgb(131, 5, 149);;
$danger-dark: rgb(167, 29, 17);

$grey-dark: #737380;
$grey-medium: #A8A8B3;
$grey-light: #DBDCDD;
