@import './variables';

#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    background: $primary;
    color: $white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px $title-font;
      line-height: 4.2rem;
      margin-top: 16px;
    }

    p {
      font-size: $font-size-title;
      line-height: 3.2rem;
      margin-top: 16px;
      color: $background;
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .themeToggler {
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
      margin-bottom: 64px;
    }

    h2 {
      font-size: $font-size-title;
      margin-bottom: $font-size-title;
      font-family: $title-font;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: $white;
        border: 1px solid $grey-medium;
      }

      button {
        margin-top: 16px;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: $font-size-main;
      color: $grey-dark;
      margin-top: 16px;

      a {
        color: $secondary;
      }
    }
  }

  .separator {
    font-size: $font-size-main;
    color: $grey-medium;
    
    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: $grey-medium;
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: $grey-medium;
      margin-left: 16px;
    }
  }

  &.dark {
    h2 {
      color: rgb(205, 200, 194);
    }
    
    .main-content form input { 
      background-color: rgb(24, 26, 27);
      border-color: rgb(71, 77, 80);
    }
  }
}

@media (max-width: 950px) {
  #page-auth aside img {
    max-width: 90%;
  }
}

@media (max-width: 620px) {
  #page-auth {
    flex-direction: column;
    height: 200vh;

    aside {
      flex: 0 1 auto;
      height: 100vh;
    }

    main {
      flex: 0 1 auto;
      height: 100vh;
    }
  }
}