@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body, input, button, textarea {
  font: 400 1.6rem $main-font;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

.dark, .light {
  transition: background 0.1s linear;
}

.dark {
  background: $background-dark;
}