@import './variables';

#page-room {
  header {
    padding: 24px;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo img {
        max-height: 45px;
      }

      > div {
        display: flex;
        gap: 16px;

        button {
          height: 40px;
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;

    .room-title {
      margin: 32px 0 24px;
      display: flex;
      align-items: center;

      h1 {
        font-family: $title-font;
        font-size: $font-size-title;
        color: #29292e;
      }

      span {
        margin-left: 16px;
        background: $pink;
        border-radius: 9999px;
        padding: 8px 16px;
        color: $white;
        font-weight: 500;  
        font-size: $font-size-main;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
        resize: vertical;
        min-height: 130px;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }

          span {
            margin-left: 8px;
            color: #29292e;
            font-weight: 500;
            font-size: $font-size-main;
          }
        }

        > span {
          font-size: $font-size-main;
          color: $grey-dark;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: $primary;
            text-decoration: underline;
            font-size: $font-size-main;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      margin-top: 32px;
    }
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0;

  border-radius: 8px;
  background: $background;

  width: 600px;
  height: 360px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    color: $grey-dark;
  }

  img {
    width: 60px;
    filter: invert(33%) sepia(96%) saturate(1088%) hue-rotate(319deg) brightness(91%) contrast(98%);
  }

  div {
    display: flex;
    gap: 16px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 550px) {
  header .content > div {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  header .content {
    flex-direction: column;
    
    .logo {
      margin-bottom: 10px;
    }
  }
}