@import '../../styles/variables';

.question {
  background: #FEFEFE;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    background: #F4F0FF;
    border: 1px solid $primary;

    footer .user-info span {
      color: #29292E;
    }
  }

  &.answered {
    background: $grey-light;
  }

  p {
    color: #29292E;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: $grey-dark;
        font-size: $font-size-main;
      }
    }

    .buttons {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: $grey-dark;
        gap: 6px;

        &.liked {
          color: $primary;
          img {
            filter: brightness(0) saturate(100%) invert(32%) sepia(70%) saturate(2460%) hue-rotate(238deg) brightness(102%) contrast(98%);
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }

  .dark & {
    background: rgb(25, 27, 28);

    p {
      color: rgb(205, 200, 194);
    }

    &.highlighted {
      background: #242240;
      border-color: $primary-dark;
    }
    
    &.answered {
      background: rgb(44, 47, 49);
    }

    footer .user-info span {
      color: rgb(155, 147, 134);
    }
  }
}